
.navbar-nav{
  margin-left: auto;
  margin-right: 3rem;
}
.navbar-brand{
  padding-left: 2rem;
  font-weight: 300;
  font-family: cursive;
  color:rgb(15, 11, 5)
}
.nav-item{
  margin:0 3rem;
}
.hover:hover{
background-color:black;
}
.hover-text:hover{
  color:black;
  border-bottom:1px solid black;
  padding:0
}
.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  margin:2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.footer{
 
  left:0;
  bottom:0;
  width:100%;
  height:10vh;
  text-align:center;
}
.welcome{
  /* display: block; */
  text-align: right;
  margin: 1rem ;
  margin-right: 2rem;
}
/* sign in css */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/* sizing to 80% of the screen */
.sizing{
  max-width: 80%;
}


