
.navbar-nav{
  margin-left: auto;
  margin-right: 3rem;
}
.navbar-brand{
  padding-left: 2rem;
  font-weight: 300;
  font-family: cursive;
  color:rgb(15, 11, 5)
}
.nav-item{
  margin:0 3rem;
}
.hover:hover{
background-color:black;
}
.hover-text:hover{
  color:black;
  border-bottom:1px solid black;
  padding:0
}
.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  margin:2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
/* to bring welcome user right side */
.welcome{
  text-align: right;
  margin-right: 3rem;
}
